<div class="flex h-screen">
  <!-- Sidebar -->
  <ng-container *ngIf="showSidebar">
    <div class="w-16 md:w-64 bg-gray-800 text-white">
      <app-sidebar *ngIf="rol === 'ADMINISTRADOR'"></app-sidebar>
      <app-residente-sidebar *ngIf="rol === 'RESIDENTE'"></app-residente-sidebar>
      <app-guardia-sidebar *ngIf="rol === 'GUARDIA' "></app-guardia-sidebar>

    </div>
  </ng-container>

  <!-- Contenido principal -->
  <main class="flex-1 overflow-auto bg-white">
    <router-outlet></router-outlet>
  </main>
</div>
