name: Build and deploy Angular app to Azure Web App - MiCasitaSeguraResidencialF

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Instalar dependencias con reintentos
        run: |
          for i in 1 2 3; do
            echo "Intento $i de instalación de dependencias..."
            npm install --registry=https://registry.npmjs.org/ && break || sleep 15
          done

      - name: Build Angular app (producción)
        run: npx ng build --configuration production

      - name: Upload Angular build output
        uses: actions/upload-artifact@v4
        with:
          name: angular-app
          path: dist/mi-casita-tailwind/browser

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download Angular build artifact
        uses: actions/download-artifact@v4
        with:
          name: angular-app
          path: angular-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_55B8E1925A82480E888D3D3D4DE045CD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_BC6D4A720A3444A59BC7F8C9CE7F7653 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_469A185D55754664AB639D669A99BC79 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'MiCasitaSeguraResidencialF'
          slot-name: 'Production'
          package: angular-app
